<!DOCTYPE html>
<html>
   <head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </head>
   <body> <div class="card card-bg">
   <form class="card1"> 
    <div class="container">
        <div class="row">
          <div class="col-12">
             <h3>Application Form</h3>
              <p class="p">Post Your Resumes to Careers@123ltd.in</p>
            </div>
        </div>
    
    <div class="row">
        <div class="col-12 col-lg-6 col-md-4">
            <div class="d-flex flex-column justify-content-start">
                <label for="fname" class="form-label">FirstName</label>
                <input type="text" class="form-control name" id="fname"required >
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-4">
            <div class="d-flex flex-column justify-content-start">
                <label for="lname" class="form-label">LastName</label>
                <input type="text" class="form-control name" id="lname" required>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-12 col-lg-4 col-md-3">
            <div class="d-flex flex-column justify-content-start">
                <label for="city" class="form-label">City</label>
         <select  id="city" required>
            <option>select</option>
            </select>
        </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3">
            <div class="d-flex flex-column justify-content-start">
                <label for="pincode" class="form-label">PinCode</label>
         <input type="text" class="form-control pin" id="pincode"required>
         </div>
        </div>
        <div class="col-12 col-lg-4 col-md-3">
            <div class="d-flex flex-column justify-content-start">
                <label for="phn" class="form-label">Phone number</label>
        <div class="input-group d-flex flex-row justify-content-start">
        <span class="input-group-text code" id="basic-addon1">+91</span>
        <input type="text" class="form-control phn" aria-describedby="basic-addon1" required>
        </div>
        </div>
        </div>

        
    </div>
    <div class="row">
                
     <div class="d-flex flex-row justify-content-start">
         <div class="col-3 col-lg-3 col-md-2">
             <p>Languages</p>
         </div>
        <div class="col-2 col-lg-2 col-md-1">
        <input type="checkbox"class="check"id="lan1">
        <label for="lan1" id="label1"> English</label>
        </div>
        <div class="col-2 col-lg-2 col-md-1">
        <input type="checkbox" class="check" id="lan2">
        <label for="lan2" id="label1">Hindi</label>
    </div>
        <div class="col-2 col-lg-2 col-md-1">
        <input type="checkbox" class="check" id="lan3" >
        <label for="lan3" id="label1">Telugu</label></div>
        <div class="col-2 col-lg-2 col-md-1">
        <input type="checkbox" class="check" id="lan4" >
        <label for="lan4" id="label1">Others</label>
    
        </div>
        </div>
        </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-md-4">
            <div class="d-flex flex-column justify-content-center">
                <label for="mail" id="label1" class="form-label">Email-id</label>   
                    <div class="input-group">
                    <input type="text" class="form-control newmail ml-3" placeholder="Username"required >
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control newmail"  placeholder="Server"required >
                    </div>
            </div> 
        </div>
    </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-4">
                <label for="mail" id="label1" class="form-label">Address</label>
                 <div class="input-group">
  
                   <textarea class="form-control" aria-label="With textarea"></textarea>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-4 col-md-2 mt-4">
                <input type="checkbox" id="agree" required>
               <label for="agree">Agree to terms and Conditions</label><br>
  
            </div>
        </div>
    
    
    
</div> 
  
</form>
</div>
</body>
</html>
